body{
    background-color: rgb(169, 205, 216);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.checkbox:hover{
  color:blueviolet;
}
.checkbox-line{
        margin-top: 10px;
}
button{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.2s ease;
    text-align: center;
    color:inherit;
}
button:hover{
    transform: scale(1.1,1.1);
}
p, h1{
    text-align: center;
}
#second-line{
    margin-top: 5px;
    margin-bottom: 5px;
}
#first-line{
    margin-bottom: 1;
}
.spacing{
    display:flex;
    flex-direction: column;
    gap: 0;
}
.spacing p{
     margin:0;
     padding:0;
}
.pink-text{
    color:rgb(255, 122, 145);
}